.table{
width: 90%;
margin: 10px auto;
border: 2px solid black;
}
.h2{
    background-color: aqua;
    text-align: center;
}
.h1{
background-color: yellow;
}
.h3{
   background-color: green;
}
.h4{
     background-color: green;
}
.h5{
     background-color: green;
}
.pain{
    background-color:red ;
}
.itamio{
     background-color:red ;
}
.aloe{
    background-color:red ;
}
.aloha{
     background-color:red ;
}
.lenovo{
     background-color:red ;
}
.acer{
    background-color: red;
}
.h7{
background-color:white ;
}